.products-hero-section {

    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../../assets/hero-section/hero-section2.png");

    background-position: center;


    background-attachment: fixed;

    background-size: cover;

}

.home-hero-section {

    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../../assets/hero-section/hero-section6.png");

    background-position: center;


    background-attachment: fixed;

    background-size: cover;
}

.setup-consultation-hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../../assets/hero-section/hero-section4.png");

    background-position: center;


    background-attachment: fixed;

    background-size: cover;
}

.hero-section-community {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../../assets/hero-section/hero-section5.png");

    background-position: center;

    background-attachment: fixed;

    background-size: cover;
}